# ANS 1.

In [2]:
# '*' is a multiplication operator. We can use it in following way:
# Ex -

a = 5
b = 10
print(a*b)

50

In [4]:
# we can also use with input()

a = int(input('enter any number -- '))
b = int(input('enter any number -- '))
print (a * b)

# we can also use it for '+', '-' and '/' i.e., addition, subtraction and division respectively.

enter any number -- 7
enter any number -- 9
63

In [7]:
# '-' is a subtraction operator
# Ex -

a = 10
b = 20
print (a - b)

-10

In [10]:
# we can also determine the data type of the variable
type(a)

int

In [8]:
# '+' is an addition operator
# Ex - 

a = 456
b = 64835
print (a + b)

65291

In [9]:
# '/' is a division operator
# Ex -

a = 441
b = 21
print(a / b)

21.0

In [21]:
'hello'
 # everything which is stored under single or double quotes is known as string.
'tanishq15656'

'tanishq15656'

In [22]:
type('tanishq15656')

str

In [23]:
type('hello')

str

In [17]:
# '6' comes in integer data type
a = 6

In [18]:
type(a)

int

In [19]:
# '-87.8' is a float data type
a = -87.8

In [20]:
type(a)

float

# ANS 2.

In [27]:
# string is a data type that is used to represent values
# variables are the ones who store data values.
# variable is created when we assign a value to it
# 'a' is a variable containing value spam

a = 'spam'
# string can be represented in single or double quote

In [28]:
type(a)

str

In [26]:
a = spam  # text needs to be stored in single or double quote or it will show us name error

NameError: name 'spam' is not defined

In [57]:
4a = 'qjfkejf'

# variable name cannot start with the integer

SyntaxError: invalid syntax (<ipython-input-57-fc46d1844cb2>, line 1)

# ANS 3.

In [41]:
# string is a collection of one or more than one characters placed in single or double quotes
a = 'Tanishq'
print(a)

Tanishq

In [51]:
x = 9787
y = "Ronaldo"

In [52]:
x,y,z = 9787, "Ronaldo", 'jr'

# we can either write in mutiple line or in single line 
# it will work for both as we can see down in the notebook

In [53]:
x

9787

In [54]:
y

'Ronaldo'

In [55]:
z

'jr'

In [48]:
# we can use triple quote to write it in multiline statement

a = """kjbgkjwfjkewfew'
fnwelnfwejkfwenf
weflewnfwefwefjewkfkwfwfkw
ewfewnfjewnfkewnfewf"""
print(a)

kjbgkjwfjkewfew'
fnwelnfwejkfwenf
weflewnfwefwefjewkfkwfwfkw
ewfewnfjewnfkewnfewf

In [59]:
# integer data type
# it contains positive or negative whole numbers
a = 5
print(a,type(a))

5 <class 'int'>

In [60]:
a = -896
print (type(a))

<class 'int'>

In [61]:
a = 4849798646466848
print(a,type(a),a+465)

4849798646466848 <class 'int'> 4849798646467313

In [62]:
# boolean data type
# it contains 'True' and 'False' with 'T' and 'F' otherwise it will show an error
a = True
b = False

# True = 1 and False = 0 (always)

In [63]:
type(a)   # boolean variable

bool

In [64]:
type(b)

bool

In [65]:
# we can perform some mathematical operations on it

True + True - False + True

3

In [66]:
False - True + False

-1

In [67]:
True* True* False

0

In [68]:
False/True

0.0

In [69]:
True/False                  # we can perform it as it will give zero division error

ZeroDivisionError: division by zero

# ANS 4.

In [70]:
# Expression is a combination of values, variables, operators and call to functions

a = 4 
b = 5 
print (a + b)

# a and b are variables 
# 4 and 5 are values
# '+' is an operator
# fucntions of an expression is to execute the code and give the required output

9

In [71]:
# conditional expression
a = 10
b = 20

if a == 10 and b > 20:
    print('this is a valid statement')
elif a == 10 and b>= 20:
    print('this statement is valid')
else:
    print('not a valid statement')

this statement is valid

# ANS 5.

In [24]:
spam = 10

# expression evaluates to a single value
# statement represent command

# ANS 6.

In [13]:
bacon = 22
bacon + 1

# it increases the value of bacon variable by 1 and gives the output as 23

23

In [74]:
bacon = 22 
bacon + 64846853

64846875

# ANS 7.

In [75]:
'spam' + 'spamspam'     # concatenation process

'spamspamspam'

In [77]:
'spam' * 3              # it is another way to add the strings together

'spamspamspam'

In [78]:
'spam' + 'spamspamspam' + 'spam'

'spamspamspamspamspam'

# ANS 8.

In [3]:
eggs = 'assdfafasad'  
print(eggs)

assdfafasad

In [4]:
100 = 'ejnffj'

# it is because variable name cannot start with an integer

SyntaxError: cannot assign to literal (<ipython-input-4-46e2fc060b8c>, line 1)

# ANS 9.

In [19]:
# int() function will evaluate to the integer.
# float() function will evaluate to the floating-point.
# str() function will evaluate to the string.

In [25]:
a = int (4)

In [26]:
type(a)

int

In [27]:
b = float (45.44658)

In [28]:
type(b)

float

In [32]:
c = str ('Data science')

In [33]:
type(c)

str

# ANS 10.

In [79]:
'i have eaten' + 99 + 'burritos'

# this shows a type error, which says  that it can only concatenate string to string but not integer to string

TypeError: can only concatenate str (not "int") to str

In [16]:
# we can convert it into string 
'i have eaten' + ' 99 ' + 'burritos'

'i have eaten 99 burritos'