# ANS 1

In [1]:
# Two values of boolean data type are 'True' and 'False'
# first letter of both should be in capital i.e., 'T' and 'F'

a = True
b = False

# value of True = 1 and False = 0 (always)

In [2]:
type(a)      # boolean data type

bool

In [3]:
type(b)      # boolean data type

bool

In [4]:
# Example
True + False + False + True + True

3

# ANS 2

In [23]:
# Three different types of boolean operators are :
# 'AND','OR' and'NOT'
True and False

False

In [24]:
True or False

True

In [25]:
not True

False

# ANS 3

In [1]:
True and False

False

In [2]:
True and True

True

In [3]:
False and True

False

In [4]:
False and False

False

In [5]:
True or True

True

In [6]:
True or False

True

In [7]:
False or True

True

In [8]:
False or False

False

In [13]:
not True

False

In [14]:
not False

True

In [20]:
True == False

False

In [21]:
False == True

False

# ANS 4

In [11]:
(5 > 4) and (3 == 5)
# True and False gives the result False

False

In [15]:
not (5 > 4)
# not True is False

False

In [16]:
(5 > 4) or (3 == 5)
# True or False gives the result True

True

In [18]:
not ((5 > 4) or (3 == 5))
# since True or false is True
# not(True) is False i.e.,
# not (True or False) = not (True) = False

False

In [19]:
(True and True) and (True == False)
# (True and True) and (True == False) = (True) and (False) = False

False

In [22]:
(not False) or (not True)
# (not False) or (not True) = (True) or (False) = True

True

# ANS 5

In [26]:
# Six comparison operators are :

# i.

In [27]:
# Less than (<) operator : 
# it checks if the left value is lesser than that on the right

In [28]:
45 < 65516532

True

In [29]:
45 < 45

False

In [30]:
6.1 < 6516

True

# ii.

In [32]:
# Greater than (>) operator : 
# it checks whether the left value is greater than the one on the right

In [33]:
65 > 4

True

In [34]:
486568.16532 > 4865

True

# iii.

In [ ]:
# Less than or equal to (<=) operator : 
# it returns True only if the value on the left is either less than or equal to that on the right of the operator

In [36]:
46 <= 468

True

In [37]:
456 < 60

False

# iv.

In [40]:
# Greater than or equal to (>=) operator :
# it returns True only if the value on the left is greater than or equal to that on the right

In [41]:
56465 >= 641

True

In [42]:
10 >= 45

False

# v.

In [43]:
# Equal to (==) operator : 
# it returns True if the values on either side of the operator are equal

In [44]:
4666 == 4562

False

In [45]:
946 == 946

True

# vi.

In [46]:
# Not equal (!=) operator : 
# it returns True if the values on either side of the operator are unequal

In [47]:
65 != 6486

True

In [48]:
61 != 61

False

# ANS 6

In [49]:
# '==' is the equal to operator that compares two values and evaluates to a Boolean
# '=' is the assignment operator that stores a value in a variable.

In [50]:
46 == 46
# in this we are comparing two values 46 and 46

True

In [51]:
s = 45
# in this we are storing the value 45 in a variable s.

# ANS 7

In [6]:
# The three blocks are everything inside the if statement and print('bacon') and print('ham')

print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
    print('spam')

eggs
ham
spam

# ANS 8

In [11]:
# code can be written as : 

if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

Greetings!

# ANS 9

In [12]:
# Press CTRL + C to get rid of an endless loop

# ANS 10

In [ ]:
# 'break' keyword is a keyword which breakes the loop condition immediately

In [15]:
intial_speed = 0
final_speed = 100
count = 1
while intial_speed < final_speed:
    print('furious')
    count = count + 1
    if count == 10 :
        break

furious
furious
furious
furious
furious
furious
furious
furious
furious

In [17]:
x = 'my name is taishq varshney'

In [20]:
# 'continue' keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration

In [18]:
for i in x:
    if i == 'n':
        continue
    print(i)
else:
    print('this is the else condiition')

m
y

a
m
e

i
s

t
a
i
s
h
q

v
a
r
s
h
e
y
this is the else condiition

In [19]:
# Skip the iteration, but continue with the next iteration
# this is why 'n' is not shown in the output

# ANS 11

In [24]:
for i in range(10):
    print(i)
# this will give us 10 indexes

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range (0,10):
      print(i)
# in this the code tells the loop to start at 0

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(0,10,1):
    print(i)
# it tells the loop to move the variable by 1 on each iteration

0
1
2
3
4
5
6
7
8
9

In [28]:
# all three code will produce the same output

# ANS 12

In [30]:
# code for printing the numbers from 1 to 10 using a for loop
for i in range (0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [32]:
# code for printing the numbers from 1 to 10 using while loop
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

# ANS 13

In [35]:
# after importing spam we will call it as spam.bacon()