# ANS 1

In [ ]:
# [] is an empty list
# It is a list value that contains no items. This is similar to how '' is the empty string value.
# Used to define mutable data types - lists, list comprehensions and for indexing

# ANS 2

In [6]:
spam = [2,4,6,8,10]
 
# we can add bu using insert

In [7]:
spam.insert(2,'Hello')
# index starts from 0

In [11]:
spam

[2, 4, 'Hello', 6, 8, 10]

# ANS 3

In [14]:
spam = ['a','b','c','d']

In [13]:
spam[int(int('3'* 2) / 11)]

# str '3'*2 is the str '33' which divided by 11 gives 3 
# 3 index is 'd'

'd'

# ANS 4

In [17]:
spam = ['a','b','c','d']

In [18]:
spam[-1]
# negative indexes starts from right

'd'

# ANS 5

In [19]:
spam = ['a','b','c','d']

In [20]:
spam[:2]
# it shows the index till 1 excluding 2

['a', 'b']

# ANS 6

In [21]:
bacon = [3.14,'cat',11,'cat',True]

In [22]:
bacon.index('cat')

1

# ANS 7

In [23]:
bacon = [3.14,'cat',11,'cat',True]

In [24]:
bacon.append(99)

In [25]:
bacon
# It append objects to the end of list

[3.14, 'cat', 11, 'cat', True, 99]

# ANS 8

In [26]:
bacon = [3.14,'cat',11,'cat',True]

In [27]:
bacon.remove('cat')

In [28]:
bacon
# remove the first occuring value

[3.14, 11, 'cat', True]

# ANS 9

In [ ]:
# list concatenation operator is '+'

In [29]:
'This is a full' + 'stack class'

'This is a fullstack class'

In [ ]:
# list replication operator is '*'

In [30]:
'Tan'*4

'TanTanTanTan'

# ANS 10

In [ ]:
# append() will add values only to the end of the list

In [31]:
l = ['ineuron',4,894]

In [35]:
l.append('Tan')

In [36]:
l

['ineuron', 4, 894, 'Tan']

In [ ]:
# insert() can add the values anywhere in the list, at whatever index we want

In [38]:
Mi = ['My',546.23,64,'Varshney']

In [39]:
Mi.insert(1,'Tanishq')

In [40]:
Mi
# here we can see the string is added to the required index

['My', 'Tanishq', 546.23, 64, 'Varshney']

# ANS 11

In [ ]:
# Two methods for removing items from the list 
# .remove() and .pop()

In [44]:
l = [789,'Tan',465.32,True]

In [42]:
l.remove('Tan')
# this is used to remove items by directly writing the items

In [43]:
l

[789, 465.32, True]

In [45]:
l = [789,'Tan',465.32,True]

In [46]:
l.pop(3)
# this is used to remove the items by writing the index of the item

True

In [47]:
l

[789, 'Tan', 465.32]

# ANS 12

In [48]:
a = ['A','B','C','D','E']

In [49]:
a

['A', 'B', 'C', 'D', 'E']

In [54]:
len(a)

5

In [50]:
b = ('A','B','C','D','E')

In [52]:
b

('A', 'B', 'C', 'D', 'E')

In [53]:
len(b)

5

# ANS 13

In [ ]:
# list are mutable. There values can be added, removed or changed 
# they are written in square brackets

In [2]:
l = [654,'684']

In [3]:
type(l)

list

In [2]:
l.append('Tan')

In [3]:
l

[654, '684', 'Tan']

In [ ]:
# tuples are immutable. They can't be changed at all.
# they are written in parenthesis

In [7]:
tuple = ('Tanishq',654,516.36)
print(tuple)

('Tanishq', 654, 516.36)

In [8]:
type(tuple)

tuple

In [9]:
tuple[0] = 'Varshney'
# As we can see it is showing an error.It cannot replace the data
# They are immutable

TypeError: 'tuple' object does not support item assignment

# ANS 14

In [9]:
a = (42)

In [10]:
a

42

In [11]:
# we can add more
a = (42 , 58)
# trailing comma is necessary

In [12]:
a

(42, 58)

# ANS 15

In [ ]:
# by using (tuples) and [list] functions

# ANS 16

In [ ]:
# they contains reference to list values

# ANS 17

In [2]:
import copy
a = [12,'Tan',[665.654],True,['grwe',8654,]]
print('Elements before copy :     ',a)
b = copy.copy(a)
print('Elements after copy :      ',b)
c = copy.deepcopy(a)
print('Elements after deep copy : ',c)

# The copy.copy() function will do a shallow copy of a list
# the copy.deepcopy() function will do a deep copy of a list 
# only copy.deepcopy() will duplicate any lists inside the list

Elements before copy :      [12, 'Tan', [665.654], True, ['grwe', 8654]]
Elements after copy :       [12, 'Tan', [665.654], True, ['grwe', 8654]]
Elements after deep copy :  [12, 'Tan', [665.654], True, ['grwe', 8654]]